# Auto detect text files and perform LF normalization
* text=auto
<!DOCTYPE html
<html>
    <head>
        <title>Interstellar Alliance Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/styles.css" rel="Stylesheet" tyoe="text.css" />
    </head >

    <body BGCOLOR="BLACK" TEXT="WHITE"></body>
        
            <p style="text-align:center;"
               class="logo"> 
                 <img src="images/2.png" > </a>
                   
            </div>
            <nav>
            <button id="nav-toggle" class="hamburger-menu">
                <span class="strip"></span>
                <span class="strip"></span>
                <span class="strip"></span>
             </button>
            <ul id="nav-menu-container">
                <h3><li>  <a href="#">Ho<FONT COLOR="lightblue">me</a>
                <li>  <a href="#">Recrutment <FONT COLOR="lightblue">Billbords</FONT></a>
                <li>  <a href="#">Mercenery <FONT COLOR="lightblue">Jobs</FONT></a>
                <li>  <a href="#">Ship Parts <FONT COLOR="lightblue">and Scraps</FRONT></a>
                <li>  <a href="#">Economic <FONT COLOR="lightblue">Data</FONT></a>
                <li>  <a href="#">Universal <FONT COLOR="lightblue">Guide</FONT></a>
                <li>  <a href="#">Faction <FONT COLOR="lightblue">Wars</FONT></a>
                <li>  <a href="#">Mini <FONT COLOR="lightblue">Games</FONT></a>
                <li>  <a href="#">Multi-verse <FONT COLOR="lightblue">Ranking</FONT></a>
                <li>  <a href="#">Most <FONT COLOR="lightblue">Wanted</FONT></a>
                <li>  <a href="#">Unexplored <FONT COLOR="lightblue">Areas</FONT></a>   
            </ul>
        </nav>
        </header>

        
        <body>
            <img src="images/5.jpg" height="1430">
                <div class="hero-marketing-text">
                    <h1 style="text-align:center;">Interstellar <FONT COLOR="lightblue">Alliance</FONT></h1>
                    <center><a href="#" id="login-register-button">Login / Register</a><center>
        
        </body>
</html>